@import 'reset';
@import 'components/main';

* {
  box-sizing: border-box;
  transition: 200ms;
}

html {
  width: 100%;

}

body {
  width: 100%;
}

#app, .container {
  width: 100%;
}

#app {
  overflow: hidden;
}
