@import 'reset';
@import 'components/main';

* {
  box-sizing: border-box;
  transition: 200ms;
}

html, body {
  width: 100%;
  height: 100%;
}

#app, .container {
  width: 100%;
}

#app {
  overflow: hidden;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
} 
