@import 'partials/colors';
@import 'partials/typography';
@import 'partials/layout';
@import 'reset';
@import 'components/main';

* {
  box-sizing: border-box;
  transition: 200ms;
}

body {
  display: flex;
  
}