.areas-banner {
  height: 10rem;
  background-color: $green__50;
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint('bp--sm') {
    height: 15rem;
  }
}

.areas {
  display: flex;
  list-style: none;
  align-items: center;
  color: $white;

  li {
    padding: 1rem 2rem 1rem 1rem;
    font-size: 2rem;
    font-weight: 700;
    display: flex;

    @include breakpoint('bp--sm') {
      font-size: 1.5rem;
      padding-right: .5rem;
      text-align: center;
    }

    &:after {
      content: '●';
      display: block;
      margin-left: 2.5rem;

      @include breakpoint('bp--sm') {
        margin-left: 1.5rem;
      }
    }

    &:nth-child(2) {

      &:after {
        display: none;
      }
    }

    &:last-child {

      &:after {
        display: none;
      }
    }
  }

  @include breakpoint('bp--sm') {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
