.contact {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
  @media (max-width: 900px) {
    flex-direction: column;
    padding: 0;
    
    .map {
      width: 100%;
    }
    
    .form {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      
      &__container {
        margin-right: 1rem;
      }
    }
  }
  
  .form {
    width: 100%;
    flex: 4;
  }
  
  .map {
    flex: 8;
  }
}