.contact-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;

  a {
    text-decoration: none;
    color: #333;
    font-size: .875rem;
    font-weight: 400;
  }

  &__item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: .75;
    background-repeat: no-repeat;
    background-size: 18px;

    &:nth-child(1){
      padding-bottom: .5rem;
    }

    span {
      padding-left: 2rem;
    }

    &--email {
      background-image: url('./../img/close-envelope.svg');

    }

    &--phone {
      background-image: url('../img/phone-receiver.svg');
    }

    &:hover {
      opacity: 1;
    }
  }
}