.footer {
  height: auto;
  padding: 1.2rem 1rem;
  background: $green__50;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  color: $white;
  font-size: 0.875rem;

  .contact-list {
    flex-direction: row;
    justify-content: flex-start;

    @include breakpoint('bp--sm') {
      flex-direction: column;
      align-items: flex-start;
      margin-right: 1rem;

      a {
        margin-bottom: 0.5rem;
      }
    }

    a {
      color: $white;
      margin-right: 2rem;
    }

    svg {
      fill: $white;
    }
  }
}

.copyright {
  font-weight: 300;

  @include breakpoint('bp--xs') {
    margin-left: 0;
  }

  span {
    color: $white;
  }
}
