.footer {
  height: 60px;
  padding: 1.2rem 1rem;
  background: $green__50;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $white;
  font-size: .875rem;
  
  .contact-list {
    flex-direction: row;
    justify-content: flex-start;
    
    a {
      color: $white;
      
      &:first-child {
        margin-right: .5rem;
      }
    }
    
    svg {
      fill: $white;
    }
  }
}

.copyright {
  font-weight: 300;
  
  span {
    color: $white;
    font-family: $base-font-family;
  }
}