.header {
  z-index: 5;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1.2rem 5rem;
  background: $white;
  color: $green__50;
  box-shadow: 0px 8px 16px -8px rgba(0,0,0,0.42);
  
  @include breakpoint('bp--sm') {
    padding: 1.2rem 3rem;
  }

  @include breakpoint('bp--xs') {
    padding: 1rem;
  }

  .right-content {
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 70px;
    
    @include breakpoint('bp--sm') {
      justify-content: flex-end;
      
      .menu li {
        margin: 0 0 0 1rem;
        font-size: 1.25rem;
      }
    
      .contact-list {
        transform: translate(2rem);
        
        svg {
          height: 1.5rem;
          width: 1.5rem;
        }
        
        .contact-list__item span {
          &:nth-child(2) {
            position: absolute;
            visibility: hidden;
            opacity: 0;
          }
        }
      }
    }
    
    @media (max-width: 700px) {
      
      .contact-list {
        transform: translate(2rem);
      }
      
      .menu {
        opacity: 0;
        visibility: hidden;
        max-width: 0;
        overflow: hidden;
      }
    }
    
    @include breakpoint('bp--sm') {
      .contact-list {
        transform: translate(0);
      }
    }
  }

  &__title {
    display: flex;
    flex-direction: column;

    &--name {
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: -.5rem;
    }

    &--tag {
      color: $gray__40;
      font-size: 1rem;
      font-weight: 300;
      letter-spacing: 0.2px;
    }
  }
  
  
  
  .contact-list__item {
    
    svg {
      fill: $black;
    }
    
    &:nth-child(1) {
      padding-bottom: .5rem;
    }
  }
}
