$bg-image: url('../img/3.jpeg');

.hero {
  width: 100vw;
  min-height: 100%;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5) 100%), $bg-image no-repeat center left fixed;
  background-size: cover;
  padding-top: 100px;
  display: flex;
  flex-direction: column;

  .form {
    align-self: flex-end;
    margin: 5rem 3rem;
    background-color: rgba(black, .5);
  }
}
