// $bg-image: url('../img/6.jpg');

.hero {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-start;

  @include breakpoint('bp--sm') {
    flex-direction: column;
    padding-bottom: 3rem;
  }
}

.fair-housing {
  display: none;
  @media (max-width: 900px) {
    display: block;
  }
}
