.menu {
  display: flex;
  align-items: center;
  margin-right: 2rem;

  ul {
    display: flex;
    list-style: none;

    li {
      white-space: nowrap;
      display: flex;
      align-items: flex-end;
      margin-right: 2rem;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
