.services {
  background-color: $green__50;
  width: 100%;
  height: 30rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint('bp--sm') {
    height: auto;
  }

  .icons {
    display: flex;
    list-style: none;
    width: 100%;

    @include breakpoint('bp--sm') {
      flex-direction: column;
      padding: 3rem 5rem;
      
      p {
        width: 50vw;
      }
    }

    @include breakpoint('bp--xs') {
      padding: 3rem 0;
      
      p {
        width: 75vw;
      }
    }

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 0 2rem;

      @include breakpoint('bp--sm') {
        margin: 2rem 1rem;
      }

      h2 {
        font-size: 1.75rem;
      }


      p {
        line-height: 1.5;
        letter-spacing: .5px;
        margin-top: 1rem;
      }

      svg {
        width: 7rem;
        fill: white;
        margin-bottom: 1rem;
      }
    }
  }
}
