.welcome {
  display: flex;
  margin: 3rem 0 0 3rem;
  width: 60%;
  padding: 0rem 2rem 2rem 1rem;
  flex-direction: column;
  transform: scale(0);
  transition: 275ms;
  transition-delay: .2s;

  h1 {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: 1.25rem;
    width: 100%;
    line-height: 1.5;
    color: $white;

    @include breakpoint('bp--sm') {
      font-size: 2.25rem;
      width: 100%;
    }
  }

  p {
    font-size: 1.25rem;
    width: 80%;
    line-height: 1.5;
    font-weight: 400;
    color: $gray__10;
    opacity: 1;

    span {
      font-size: 1.5rem;
      margin-top: 1.2rem;
      display: block;
    }

    @include breakpoint('1100px') {
      width: 100%;
    }

    @include breakpoint('bp--sm') {
      font-size: 1.25rem;
      width: 100%;
    }
  }

  &.popup {
    transform: scale(1);
  }

  @include breakpoint('975px') {
    padding-right: 1rem;
  }

  @include breakpoint('bp--sm') {
    width: 100%;
    margin: 3rem 0 1rem;
    padding: 1rem 3rem;
  }

  @include breakpoint('bp--xs') {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 1.5rem;
  }
}
