$green__00: #00261C;
$green__10: #068447;
$green__20: #167F39;
$green__30: #45BF55;
$green__40: #96ED89;
// #139A43

$green__50: #139A43;


$white: #fefefe;
$gray__10: darken($white, 10%);
$gray__20: darken($white, 20%);
$gray__30: darken($white, 30%);
$gray__40: darken($white, 40%);
$black: #333;
